<form method="POST" action="/weightlosses/{{weightloss._id}}?_method=PUT">

<label for="createdAt"> Created At  :  </label>
  <input 
   type="date" 
   default="date.now"
   placeholder="date" 
   name="createdAt" 
   id="createdAt"
   />
 <label for="currentWeight"> Current Weight  :  </label>
  <input 
    type="number"
    name="currentWeight"
    id="currentWeight" 
    min="100"
    max="400"
    />


<label for="notes"> Notes  : </label>
      <textarea
      name="notes"
      id="notes"
      placeholder="notes"
      cols="30"
      rows="10"
      ></textarea>
  <input type="submit" value="Update Weight Entry"/>
</form>